<app-side-nav>
    <h2 class="text-center text-2xl font-bold font-azonix text-[#878787]">
        Editting Product Details
    </h2>
    <div class="w-full flex items-stretch justify-center gap-8">
        <div class="w-full flex flex-col items-center gap-4 px-10 my-6">
            <div class="w-full flex flex-col items-start justify-start py-4 px-8 rounded-lg bg-gray_bg">
                <h4 class="text-lg font-semibold font-roboto text-light_orange">Product Name</h4>
                <h1 class="text-2xl font-bold font-azonix text-orange">{{ product?.name }}</h1>
            </div>
            <div class="w-full flex flex-col items-start px-20 py-8 rounded-lg bg-gray_bg">
                <div class="w-full flex items-start py-4 gap-4">
                    <div class="flex flex-col items-end gap-8 mt-2">
                        <label class="text-lg capitalize font-medium font-roboto text-orange">
                            Watt
                        </label>
                        <label class="text-lg capitalize font-medium font-roboto text-orange">
                            lumen
                        </label>
                    </div>
                    <div class="w-full flex flex-col items-start gap-4">
                        <div class="w-full px-4 py-1 rounded-md bg-gray_dark">
                            <input type="text"
                                class="w-full rounded-md p-2 bg-transparent text-light_orange border border-none focus:outline-none"
                                [(ngModel)]="product.watt" [ngModelOptions]="{standalone: true}" />
                        </div>
                        <div class="w-full px-4 py-1 rounded-md bg-gray_dark">
                            <input type="text"
                                class="w-full rounded-md p-2 bg-transparent text-light_orange border border-none focus:outline-none"
                                [(ngModel)]="product.lumen" [ngModelOptions]="{standalone: true}" />
                        </div>
                    </div>
                </div>
                <div class="w-full flex flex-col items-start py-4 gap-4">
                    <div class="flex flex-col items-end gap-8 mt-2">
                        <label class="text-lg capitalize font-medium font-roboto text-orange">
                            Description
                        </label>
                    </div>
                    <div class="w-full flex flex-col items-start gap-4">
                        <div class="w-full px-4 py-1 rounded-md bg-gray_dark">
                            <textarea
                                class="w-full rounded-md p-2 bg-transparent text-light_orange border border-none focus:outline-none"
                                rows="3" cols="30" [(ngModel)]="product.description" [ngModelOptions]="{standalone: true}"></textarea>
                        </div>
                    </div>
                </div>
                <button class="w-max mx-auto text-xl font-semibold font-roboto capitalize text-[#878787] bg-dark rounded-md py-1 px-12">
                    Change
                </button>
            </div>
        </div>
        <div class="w-full flex flex-col items-center gap-4 px-10 my-6 rounded-lg bg-gray_bg">
            <img [src]="product?.image" alt="product" class="w-28 h-3/4 rounded-lg object-contain">
            <button class="w-max text-xl font-semibold font-roboto capitalize text-[#878787] bg-dark rounded-md py-1 px-12">
                Change
            </button>
        </div>
    </div>
    <div class="w-full flex items-center justify-between my-6 mx-auto px-12">
        <button class="px-8 py-1 text-xl font-semibold font-roboto capitalize bg-red text-dark rounded-md" (click)="showDeleteDialog()">
            delete product
        </button>
        <button class="px-8 py-1 text-xl font-semibold font-roboto capitalize bg-orange text-dark rounded-md">
            save & exit
        </button>
    </div>


    <p-dialog [(visible)]="deleteVisible" styleClass="!border-0" [style]="{ width: '50vw' }">
        <ng-template #headless>
            <div class="flex flex-col px-8 py-8 gap-6 rounded-2xl bg-[#393939]">
                <div class="w-full flex items-center justify-center">
                    <app-warn></app-warn>
                </div>
                <div class="flex items-center justify-center">
                    <h1 class="text-4xl font-bold font-azonix text-orange">delete warranty</h1>
                </div>
                <h6 class="text-lg text-center font-semibold font-roboto text-light_orange">Are you sure you want to delete this
                    Product ?</h6>
                <div class="mx-auto flex items-center justify-between gap-8">
                    <button (click)="closeDialog()"
                        styleClass="" [style]="{ fontWeight: 600 }"
                        class="w-max px-4 py-2 uppercase text-2xl font-semibold rounded-md text-gray_dark bg-orange font-roboto border border-white/30">
                        No Cancel
                    </button>
                    <button (click)="closeDialog()"
                        class="px-4 py-2 w-max uppercase text-xl font-semibold rounded-md text-light_orange bg-red font-roboto border border-white/30" (click)="deleteProduct()"
                        >
                        Yes Delete
                    </button>
                </div>
            </div>
        </ng-template>
    </p-dialog>
</app-side-nav>